<div class="top">
    <header class="top-header">
        <div class="header__left">
            <img class="header__logo" src="https://via.placeholder.com/28" alt="logo">
        </div>
    </header>
    <div class="form-wrapper">
        <div class="form-wrapper__title">
            <p class="form-wrapper__title__text">ログイン</p>
        </div>
        <form class="login">
            <div>メールアドレス
                <input type="email" name="email" class="top-form" placeholder="    メールアドレスを入力してください"/>
                <div class="form-error">
                    <p class="form-error-msg">そのアドレスのアカウントは存在しないよ。</p>
                </div>
            </div>
            <div>パスワード
                <input type="password" name="password" class="top-form" placeholder="    パスワードを入力してください" />
                <div class="form-error">
                    <p class="form-error-msg">パスワードが間違ってるよ。</p>
                </div>
            </div>
            <div>
                <input class="top__button" type="submit" value="ログイン"/>
            </div>

            <a href="/top/signup/" class="top__new-customer">新規登録はこちら</a>
        </form>

    </div>
</div>