<div class="top">
    <header class="top-header">
        <div class="header__left">
            <img class="header__logo" src="https://via.placeholder.com/28" alt="logo">
        </div>
        <div class="header__middle"></div>
        <div class="header__right">
        </div>
    </header>
    <div class="form-wrapper">
        <div class="form-wrapper__title">
            <p class="form-wrapper__title__text">ログイン</p>
        </div>
        <form class="login">
            <div>メールアドレス
                <input type="email" name="email" class="top-form" placeholder="    メールアドレスを入力してください"/>
            </div>
            <div>パスワード
                <input type="password" name="password" class="top-form" placeholder="    パスワードを入力してください" />
            </div>
            <div>
                <input class="login__button" type="submit" value="ログイン"/>
            </div>

            <a href="/top/signup/" class="top__new-customer">新規登録はこちら</a>
        </form>

    </div>
</div>