
<div class="top">
    <header class="top-header">
        <div class="header__left">
            <%= image_tag "group-5@3x.png", :size =>'131x32', :class => 'header__logo' %>
        </div>
    </header>
    <div class="welcome-wrapper">
        <div class="welcome-top">
            <%= image_tag "logo-type.svg", :size =>'144x44', :class => 'welcome-logo' %>
            <p class="welcome-message">for ASMRtist</p>
        </div>

        <a href="/top/signup/" class="top__button">アカウント作成</a>
        <a href="/top/login/" class="top__button__login">ログイン</a>
        <a href="#" class="forget-password">パスワードを忘れた？</a>
    </div>
</div>

