<div class="account">
    <div class="account__top">
        <p class="account__top__title">アカウント</p>
        <div class="account__top__img">
            <img src="https://via.placeholder.com/76x112p" alt="account__img">
        </div>
        <div class="account__top__info">
            <p class="account__top__info__name">あしもす</p>
            <p class="account__top__info__follower">フォロワー数: 5,882</p>
            <p class="account__top__info__playtime">総再生数: 20,000</p>
            <p class="account__top__info__tags"><span class="account__tag">スライム</span><span class="account__tag">ささやき</span><span class="account__tag">バイノーラル録音</span></p>
        </div>
        <button class="account__top__edit">編集する</button>
    </div>
    <div class="account__abount">
        <input type="text" placeholder="あいさつや動画の方針、活動内容など、あなたの紹介文を入力してください。">
    </div>
    <div class="account__twitter">
        <input type="text" placeholder="ユーザーIDを入力してください">
    </div>
    <div class="account__instagram">
        <input type="text" placeholder="ユーザーIDを入力してください">
    </div>
    <div class="account__youtube">
        <input type="text" placeholder="URLを入力してください">
    </div>
    <div class="account__niconico">
        <input type="text" placeholder="URLを入力してください"></div>
    <div class="account__others">
        <input type="text" placeholder="URLを入力してください"></div>
    <div class="account__private">
        <div class="account__private__mail">
            <p>メールアドレス</p>
            <input type="mail" placeholder="メールアドレスを入力してください">
        </div>
        <div class="account__private__pswd">
            <p>パスワード</p>
            <input type="password" placeholder="メールアドレスを入力してください">
        </div>
    </div>
</div>
