<div class="stats">
    <p class="stats-title">タグ別の統計</p>
    <div class="stats-list stats-list__title">
        <p class="stats-list__category">カテゴリ</p>
        <p class="stats-list__volume">動画数</p>
        <p class="stats-list__rank">ランキング100位以内率</p>
        <p class="stats-list__contribution">再生数寄与度</p>
    </div>
    <div class="stats-list">
        <div class="stats-list__category">
            <dt class="stats-list__category__name">ささやき</dt>
            <dd class="stats-bar stats-bar-100"></dd>
        </div>
        <p class="stats-list__volume">100</p>
        <p class="stats-list__rank">20%</p>
        <p class="stats-list__contribution">30%</p>
    </div>
    <div class="stats-list">
        <div class="stats-list__category">
            <dt class="stats-list__category__name">耳かき</dt>
            <dd class="stats-bar stats-bar-90"></dd>
        </div>
        <p class="stats-list__volume">90</p>
        <p class="stats-list__rank">35%</p>
        <p class="stats-list__contribution">15%</p>
    </div>
    <div class="stats-list">
        <div class="stats-list__category">
            <dt class="stats-list__category__name">ロールプレイ</dt>
            <dd class="stats-bar stats-bar-80"></dd>
        </div>
        <p class="stats-list__volume">80</p>
        <p class="stats-list__rank">7.5%</p>
        <p class="stats-list__contribution">7.5%</p>
    </div>

</div>