<div class="video__main">
    <div class="video__main__top">
        <p class="video__main__top__title">動画一覧</p>    
        <form class="video__main__sort" action="#">
            <select class="video__main__sort__select" name="sort">
                <option value="new-to-old">投稿が新しい順</option>
                <option value="old-to-new">投稿が古い順</option>
                <option value="more-to-less">再生多い順</option>
                <option value="less-to-more">再生少ない順</option>
            </select>
        </form>
    </div>
    <div class="video__main__tabs">
        <input id="video__main__stock" type="radio" name="video__main__tab__item" checked>
        <label for="video__main__stock" class="video__main__tab__item">編集中</label>
        <input id="video__main__published" type="radio" name="video__main__tab__item">
        <label for="video__main__published" class="video__main__tab__item">公開中</label>
        <input id="video__main__paid" type="radio" name="video__main__tab__item">
        <label for="video__main__paid" class="video__main__tab__item">有料作品</label>

        <div class="video__main__tab__content" id="video__main__stock__content">
            <%# if video.blank %>
                <div class="video__main__stock--empty">
                    <p><%= @user[:name] %>さん、こんにちは！</p>
                    <p>ここでは、アップロードした動画が表示されるよ</p>
                    <div class="video__main__stock__upload">
                        <button class="video__main__stock__upload__button" method="post" enctype="multipart/form-data">最初の動画をアップロードしよう！
                        <input accept='video/*' type="file" id="file" name="video">
                        </button>
                    </div>
                </div>
            <%# else 
                <div class="video__main__stock--draft">
                    <div class="video__list">
                        <img src="" alt="video__thumbnails" class="video__thumbnail">
                        <div class="video__info">
                            <h2 class="video__info__title">キネスティックサンドで遊びながらささやき声</h2>
                            <p class="video__info__tags">スライム, キネスティックサンド, 包丁の音,ささやき</p>
                            <span class="video__info__length">再生時間 2:00:04</span>
                            <div class="video__info__date">2018/07/15</div>
                        </div>
                    </div>
                    <div class="video__list">
                        <img src="" alt="video__thumbnails" class="video__thumbnail">
                        <div class="video__info">
                            <h2 class="video__info__title">タイトルなし</h2>
                            <p class="video__info__tags">タグが指定されていません</p>
                            <span class="video__info__length">再生時間 00:00</span>
                            <div class="video__info__date">2018/07/15</div>
                        </div>
                    </div>
                </div>
             end %>
        </div>

        <div class="video__main__tab__content" id="video__main__published__content">
            <div class="video__list">
                <img src="https://via.placeholder.com/169x92.png" alt="video__thumbnails" class="video__thumbnail">
                <div class="video__info">
                    <h2 class="video__info__title">キネスティックサンドで遊びながらささやき声</h2>
                    <p class="video__info__tags">スライム, キネスティックサンド, 包丁の音,ささやき</p>
                    <span class="video__info__length">再生時間 2:00:04</span>
                </div>
                <div class="video__info__date">2018/07/15</div>
            </div>
            <div class="video__list">
                <img src="https://via.placeholder.com/169x92.png" alt="video__thumbnails" class="video__thumbnail">
                <div class="video__info">
                    <h2 class="video__info__title">キネスティックサンドで遊びながらささやき声</h2>
                    <p class="video__info__tags">スライム, キネスティックサンド, 包丁の音,ささやき</p>
                    <span class="video__info__length">再生時間 2:00:04</span>
                </div>
                <div class="video__info__date">2018/07/15</div>
            </div>
            <div class="video__list">
                <img src="https://via.placeholder.com/169x92.png" alt="video__thumbnails" class="video__thumbnail">
                <div class="video__info">
                    <h2 class="video__info__title">キネスティックサンドで遊びながらささやき声</h2>
                    <p class="video__info__tags">スライム, キネスティックサンド, 包丁の音,ささやき</p>
                    <span class="video__info__length">再生時間 2:00:04</span>
                </div>
                <div class="video__info__date">2018/07/15</div>
            </div>
        </div>
        <div class="video__main__tab__content" id="video__main__paid__content">
                      <div class="video__list">
                <img src="https://via.placeholder.com/169x92.png" alt="video__thumbnails" class="video__thumbnail">
                <div class="video__info">
                    <h2 class="video__info__title">キネスティックサンドで遊びながらささやき声</h2>
                    <p class="video__info__tags">スライム, キネスティックサンド, 包丁の音,ささやき</p>
                    <span class="video__info__length">再生時間 2:00:04</span>
                </div>
                <div class="video__info__date">2018/07/15</div>
            </div>
            <div class="video__list">
                <img src="https://via.placeholder.com/169x92.png" alt="video__thumbnails" class="video__thumbnail">
                <div class="video__info">
                    <h2 class="video__info__title">キネスティックサンドで遊びながらささやき声</h2>
                    <p class="video__info__tags">スライム, キネスティックサンド, 包丁の音,ささやき</p>
                    <span class="video__info__length">再生時間 2:00:04</span>
                </div>
                <div class="video__info__date">2018/07/15</div>
            </div>
            <div class="video__list">
                <img src="https://via.placeholder.com/169x92.png" alt="video__thumbnails" class="video__thumbnail">
                <div class="video__info">
                    <h2 class="video__info__title">キネスティックサンドで遊びながらささやき声</h2>
                    <p class="video__info__tags">スライム, キネスティックサンド, 包丁の音,ささやき</p>
                    <span class="video__info__length">再生時間 2:00:04</span>
                </div>
                <div class="video__info__date">2018/07/15</div>
            </div>

        </div>
    </div>
</div>

