// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
    height: 100%;
}
body{
    margin: 0;
}
.dashboard{
    height: 100%;
    background-color: #49008a;
    color: white;
    margin: 0;
    display: grid;
    grid-template-columns: 200px auto;
    background-image: url(bg.svg);
    background-repeat: no-repeat;
}
a {
    color: white;
    text-decoration: none;
}
.search-cursor{
    transform: rotate(90deg);
    margin-right: 3px;
}