// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
    height: 100%;
}
body{
    height: 100%;
    background-color: #49008a;
    color: white;
    margin: 0;
}
body > .sidebar-wrapper{
    height: auto;
}
