@import 'mixin.scss';

.header{
    @include vertical-center-for-one-line(60px);
    display: block;
    box-shadow: 0 8px 24px 0 rgba(0, 7, 10, 0.2);
    width: 100%;
}
.header__left{
    @include position(relative, $top: 10px, $left: -6%);
    display: inline-block;
}
.header__right{
    @include position(relative, $left: 70%);
    float: left;
    height: 60px;
}
.header__help {
    position: relative;
    margin: 14px;
}
.header__post {
position: relative;
overflow: hidden;
display: inline-block;
}
.header__post__button{
color: white;
background-color: inherit;
padding: 8px 20px;
#file{
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
}
