@import 'mixin.scss';

.sidebar-wrapper{
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    min-height: 100%;
    float: left;
    width: 200px;
}

.sidebar {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 70px 70px;
    @include position(relative, $top: 80px);
}