@import 'mixin.scss';

.stats {
    height: 1000px;
    width: 612px;
    margin: 80px auto;
    min-height: 1200px;
}

.stats-title {
  margin-bottom: 48px;
}
.stats-list {
    display: grid;
    grid-template-columns: 230px auto 148px 128px;
    grid-gap: 20px;
}
.stats-bar{
    width: 100%;
    height: 50%;
    margin-left: 0;
    &:after {
      content: "";
      display: block;
      background-color: #ab9d09;
      border: 1px solid #f8e71c;
      height: 50%;
      position: relative;
    }
}
.stats-bar--vol{
    @include stats(#369682,#50e3c2);
}
.stats-bar--rank{
    @include stats(#ab9d09,#f8e71c);
}
.stats-bar--contribution{
    @include stats(#3a8fba,#66ccff);
}

@for $i from 1 through 100 {
  .stats-bar--vol-#{$i} {
    &:after {
      $value: ($i * 1%);
      width: $value;
    }
  }
}
@for $i from 1 through 100 {
  .stats-bar--rank-#{$i} {
    &:after {
      $value: ($i * 1%);
      width: $value;
    }
  }
}
@for $i from 1 through 100 {
  .stats-bar--contribution-#{$i} {
    &:after {
      $value: ($i * 1%);
      width: $value;
    }
  }
}
.stats-list__rank, .stats-list__contribution {
    justify-self: end;
}
.stats-list__category {
    text-align: left;
}

// styling for tabs

.stats span {
    margin-right: 150px;
    font-size: 12px;
}
.stats label {
    margin-left: 44px;
    font-size: 12px;
    opacity: 0.7;
    &:nth-child(7) {
        margin-left: 65px;
    }
}
.stats-list--active{
    opacity: 1;
}
.stats-list--blur{
    opacity: 0.7;
}

input[name="stats__tab__item"] {
    display: none;
}

.stats__tab__content {
    display: none;
    text-align: center;
    margin-top: 28px;
}

.stats__tab__item{
  font-size: 12px
}

#stats-list__volume-tab:checked ~ #stats-list__volume-tab__content,
#stats-list__rank-tab:checked ~ #stats-list__rank-tab__content,
#stats-list__contribution-tab:checked ~ #stats-list__contribution-tab__content {
    display: block;
}

.stats__tabs input:checked + .stats__tab__item {
    opacity: 1;
}
