// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
  height: 100%;
  background-color: #49008a;
  color: white;
  margin: 0;
  background-image: url(bg.svg);
  background-repeat: no-repeat;
  min-height: 760px;
  display: grid;
  grid-template-rows: 60px auto;
}
