@import 'mixin.scss';

.required{
    color: red;
}

.video__main {
    overflow: scroll;
    height: 100%;
    min-height: 1200px;
}
.video__main__top {
    @include position(relative, $left: 10%, $top: 68px);
    font-size: 20px;
    width: 30%;
}
.video__main__sort {
    display: inline-block;
    margin-top: 20px;
}
.video__main__sort__select{
    @include sort;
}


.video__main__stock--empty {
    font-size: 20px;
    margin-top: 55px;
}
.video__main__stock__upload {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.video__main__stock__upload__button{
    @include input-button(92px,592px);
    margin-top: 40px;
    font-weight: bold;
    }

//2nd and 3rd tab

.video__list {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 16px;
    height: 130px;
    margin: 40px 0 40px 10%;
}
.video__info {
    display: grid;
    justify-items: start;
}
.video__info__title{
    font-size: 16px;
}
.video__thumbnail {
    align-self: center;
}
.video__info__date {
    align-self: end;
}

.video__info__tags {
    font-size: 14px;
}

// styling for tabs
.video__main__tab__item {
    @include position(relative, $left: 70%, $bottom: 23px);
    padding: 10px;
}

input[name="video__main__tab__item"] {
    display: none;
}

.video__main__tab__content {
    display: none;
    text-align: center;
}

#video__main__stock:checked ~ #video__main__stock__content,
#video__main__published:checked ~ #video__main__published__content,
#video__main__paid:checked ~ #video__main__paid__content {
    display: block;
}

.video__main__tabs input:checked + .video__main__tab__item {
    background-color: rgba(250, 251, 255, 0.2);
}
    