<div class="sidebar-wrapper">
    <ul class='sidebar'>
        <li class="sidebar__movie">動画</li>
        <li class="sidebar__account">アカウント</li>
        <li class="sidebar__follower">フォロワー</li>
        <li class="sidebar__stats">ZOWAの統計</li>
    </ul>
</div>
