<div class="sidebar-wrapper">
    <ul class='sidebar'>
        <li class="sidebar__movie"><a href="/dashboard/video/">動画</a></li>
        <li class="sidebar__account"><a href="/dashboard/account/">アカウント</a></li>
        <li class="sidebar__follower"><a href="/dashboard/follower/">フォロワー</a></li>
        <li class="sidebar__stats"><a href="/dashboard/stats/">ZOWAの統計</a></li>
    </ul>
</div>
