<div class="sidebar-wrapper">
    <ul class='sidebar'>
        <li class="sidebar__movie"><a href="/dashboard/video/"><span><%= image_tag "movie.svg", :size =>'20x17', :class => 'sidebar-icon' %></span> 動画</a></li>
        <li class="sidebar__account"><a href="/dashboard/account/"><span><%= image_tag "human.svg", :size =>'20x17', :class => 'sidebar-icon' %></span> アカウント</a></li>
        <li class="sidebar__follower"><a href="/dashboard/follower/"><span><%= image_tag "community.svg", :size =>'20x17', :class => 'sidebar-icon' %></span> フォロワー</a></li>
        <li class="sidebar__stats"><a href="/dashboard/stats/"><span><%= image_tag "stats.svg", :size =>'20x17', :class => 'sidebar-icon' %></span> ZOWAの統計</a></li>
    </ul>
</div>
<script>
$(function(){
    $('.sidebar li a').each(function(){
      var $href = $(this).attr('href');
      if(location.href.match($href)) {
        $(this).parent().addClass('current');
      } else {
        $(this).parent().removeClass('current');
      }
    });
  });
</script>
